<!DOCType>
<html>
  <head>
    <title>Nationalize</title>
    <link type="text/css" rel="stylesheet" href="static/style.css/">
  </head>
  <body>
    <center>
      <a target="_blank" href="https://nationalize.io/"><h2>Nationalize.io API </h2></a>
      <h3><div style="color:grey">Name:</div> {{name.capitalize()}}</h3>

      {%for i in data["country"]%}
      <h4><div style="color:grey">Country ID :</div> {{i["country_id"].upper()}}</h4>
      <h4><div style="color:grey">Country ID Probability:</div> {{i["probability"]}}</h4>
      <br />
      {%endfor%}


      <a href="/"><button class = "button">Go Back</button></a>
    </center>
  </body>
</html>